<div class="form-group">

  <label for="password">Password</label>

  {{input type="password" class="form-control" value=password name="password"}}

  <label for="passwordConfirmation">Password Confirmation</label>

  {{input type="password" class="form-control" value=passwordConfirmation name="passwordConfirmation"}}

  <validity-messages errors={{errors}} errorClass="alert alert-danger" />

</div>

<button {{action 'submit'}} class="btn btn-success">Submit</button>
