<div class="form-group">

  <label for="username">Username</label>

  <div class="input-group">

    {{input value=value name="value" class="form-control"}}

    <span class="input-group-btn">

      <button {{action 'submit' on='click'}} class="btn btn-success">Submit</button>

    </span>

  </div>

  <validity-messages errors={{errors}} errorClass="alert alert-danger" />

</div>
